
<!-- Make it a page that connects to a user's question -->

<% selected_quest = @questions.find_by(id: @question.id) %>
<h2> Title </h2>
<%= selected_quest.title %> <br />
<h2> Question </h2>
<%= selected_quest.body %> <br /><br />

<form><input ID="back-btn" type="button" value="Back" onClick="history.go(-1);return true;"></FORM>
