<h2> User profile </h2>

<div id="user-profile">

  <!-- edit profile button add into profile page  -->
  <form action='/sessions/:id' method="post">
      <input name="edit-profile" type='hidden' value='post'/>
      <button type='submit'>Edit Profile</button>
  </form>

</div>

<!-- back button -->
<FORM><INPUT ID="back-btn" Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
